body{
    background-image: url(images/nftBinance.PNG);
}
.signUp{
    width: 100%;
    height: 100%;
   
}
.signUpForm{
    margin: auto;
    width: 80%;
    height: 50%;
    box-shadow: 0 0 15px #000;
    background-color: rgba(240, 248, 255, 0.363);
}
.signUpW{
    color: rgb(252, 143, 54);
    font-weight: 600;
    text-align: center;
    text-shadow: 0 0 70px #000;
}
.page-footer{
    width: 100%;
    background-color: rgb(27, 27, 27);
}
.row input{
    color: rgb(17, 9, 9);
}
.row label{
    color: rgb(0, 0, 0);
    font-size: large;
}